/*-----------------------------------------------------------------------------------*/
// needed imports
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Squada+One&display=swap");
/*-----------------------------------------------------------------------------------*/
//-- VARIABLES --\\
$primary-color: #232323;
$secondary-color: #c9c9c9;
$info-color: #55cbde;
$success-color: #29c329;
$danger-color: #e80909;
$warning-color: #f6bc01;

$light: #d8d8d8;
$grey: #b1b1b1;
$dark: #414141;

$nav-bg-color: #222;
$body-bg-color: #333;
$dark-bg-color: #212121;
$light-bg-color: #a2a2a2;

$hd-font: "Montserrat", sans-serif;
$txt-font: "Squada One", cursive;
$xl-font: 3.5rem;
$lg-font: 3rem;
$md-font: 2.5rem;
$sm-font: 1.5rem;
$xs-font: 1rem;

$cover: url("https://images.unsplash.com/photo-1528032947483-4e1df543253a?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1050&q=80");
$entertainment: url("https://images.unsplash.com/photo-1522249210728-7cd95094022a?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80");
/*-----------------------------------------------------------------------------------*/
//-- MIXINS --\\
@mixin slowChange {
  transition: all 0.5s ease-out;
}
// Media Query Mixins
@mixin mediaSm {
  @media screen and (max-width: 500px) {
    @content;
  }
}
@mixin mediaMd {
  @media screen and (max-width: 768px) {
    @content;
  }
}
@mixin mediaLg {
  @media screen and (min-width: 769px) and (max-width: 1170px) {
    @content;
  }
}
@mixin mediaXl {
  @media screen and (min-width: 1171px) {
    @content;
  }
}
/*-----------------------------------------------------------------------------------*/
//-- FUNCTIONS --\\
// change the text color depending of it's cover
@function setColor($bg-color) {
  @if (lightness($bg-color) > 30) {
    @return #000;
  } @else {
    @return #fff;
  }
}
// return a background picture
@function setBG($url) {
  @return $url no-repeat center/cover;
}
