// main styles
section {
  max-width: 1080px;
  padding: 4rem 0;
  margin: 0 auto;
}
.container {
  width: 90%;
  margin: 0 auto;
}
.grid {
  display: grid;
  grid-gap: 1rem;
  grid-auto-rows: minmax(1fr, auto);
}
.grid-2 {
  grid-template-columns: 1fr 1fr;
}
.grid-3 {
  grid-template-columns: repeat(3, 1fr);
}
.grid-4 {
  grid-template-columns: repeat(4, 1fr);
}
.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-rows {
  flex-direction: row;
}
.flex-column {
  flex-direction: column;
}
.text {
  margin: 2rem 0;
}
.dark-bg {
  background: $dark-bg-color;
  color: setColor($dark-bg-color);
  a {
    color: setColor($dark-bg-color);
  }
}
.light-bg {
  background: $light-bg-color;
  color: setColor($light-bg-color);
  a {
    color: setColor($light-bg-color);
  }
}
//-- MUSIC SECTION --\\
#music {
  h2 {
    margin-bottom: 2rem;
  }
  .grid {
    margin: 1rem 0;
  }
  .music-box {
    position: relative;
    height: fit-content;
    img,
    .caption {
      width: 275px;
      height: 275px;
    }
    .caption {
      top: 0;
      right: 0;
      bottom: 0;
      color: $dark;
      position: absolute;
      background: #ffffff8f;
      h3 {
        text-transform: uppercase;
        font-family: $txt-font;
        margin-bottom: 0;
        font-weight: 600;
      }
      span {
        font-weight: 500;
        font-size: $sm-font;
        color: $danger-color;
      }
    }
  }
  .music-card {
    width: 275px;
    padding: 0.5rem;
    background: #ffffffef;
    text-transform: capitalize;
    justify-content: space-between;
    margin-bottom: 2rem;
    span {
      font-weight: 600;
    }
    span,
    i.icon {
      color: $dark;
    }
  }
}
//-- VEDIO SECTION --\\
#vedio {
  figure {
    width: 100%;
    margin: 2rem auto;
    .video {
      width: 100%;
      height: auto;
      border: 1px solid $warning-color;
      border-radius: 15px;
      &:focus {
        outline: none;
      }
    }
  }
}
//-- ENTERTAINEMENT SECTION --\\
#entertainment {
  background: setBG($entertainment);
  .highlight {
    color: $light;
    .text {
      padding: 1rem;
      text-align: justify;
      background: rgba($dark, 0.4);
    }
  }
}
//-- GIFT CARDS SECTION --\\
#gift-card {
  padding: 0;
  .box1 {
    height: 100%;
    img {
      height: 100%;
    }
  }
  .box2 {
    h3,
    a {
      color: $danger-color;
      text-transform: uppercase;
    }
    padding: 2rem;
    .text {
      text-align: justify;
      color: $grey;
    }
    hr {
      margin-bottom: 1rem;
    }
    a:hover {
      color: $info-color;
    }
  }
}
