//-- TABLETS IPAD MINILAPTOP --\\
@include mediaMd {
  header#header {
    #myTopnav {
      .logo {
        text-align: center;
        a.active {
          width: 100%;
          background: none;
        }
      }
      .menu {
        margin: 0;
        a {
          display: none;
          &.navBtn {
            float: right;
            display: block;
          }
        }
      }
      &.responsive {
        flex-direction: column;
        .menu {
          a {
            display: block;
            text-align: left;
          }
          .navBtn {
            position: absolute;
            right: 0;
            top: 0;
          }
        }
      }
    }
    .header {
      h1 {
        font-size: $sm-font;
      }
      h2 {
        font-size: $xs-font;
      }
    }
  }
}
//-- SMARTPHONES --\\
@include mediaSm {
  h1 {
    font-size: $lg-font;
  }
  h2 {
    font-size: $sm-font;
  }
  figure {
    width: 100%;
  }
  .hide {
    display: none;
  }
  .text {
    font-size: $xs-font;
  }
}
