//-- TABLETS IPAD MINILAPTOP --\\
@include mediaMd {
  header#header {
    #myTopnav {
      .logo {
        text-align: center;
        a.active {
          width: 100%;
          background: none;
        }
      }
      .menu {
        margin: 0;
        a {
          display: none;
          &.navBtn {
            float: right;
            display: block;
          }
        }
      }
      &.responsive {
        flex-direction: column;
        .menu {
          a {
            display: block;
            text-align: left;
          }
          .navBtn {
            position: absolute;
            right: 0;
            top: 0;
          }
        }
      }
    }
    .header {
      h1 {
        font-size: $sm-font;
      }
      h2 {
        font-size: $xs-font;
      }
    }
  }
  #header,
  #music,
  #vedio,
  #giftCards {
    min-height: 70vh;
  }
  #music {
    .grid {
      grid-template-columns: 1fr;
      .bottom {
        grid-row: auto;
        grid-column: 1/4;
      }
    }
  }
}
//-- SMARTPHONES --\\
@include mediaSm {
  h1 {
    font-size: $lg-font;
  }
  h2 {
    font-size: $sm-font;
  }
  figure {
    width: 100%;
  }
  .hide {
    display: none;
  }
  .text {
    font-size: $xs-font;
  }
  // main-content
  #header,
  #music,
  #vedio,
  #giftCards {
    min-height: 50vh;
  }

  #entertainement {
    display: none;
  }
  #giftCards {
    .grid {
      grid-template-columns: 1fr;
    }
  }
  #music {
    .grid {
      grid-template-columns: 1fr;
      .bottom {
        grid-column: 1;
        grid-row: auto;
      }
    }
  }
  // main-footer
  #main-footer {
    .grid {
      text-align: center;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 0.3rem;
    }
  }
}
