//-- WIDESCREENS --\\
@include mediaXl {
}
//-- DESKTOP AND LAPTOPS --\\
@include mediaLg {
}
//-- TABLETS IPAD MINILAPTOP --\\
@include mediaMd {
  // header navbar
  header#main-header {
    .topnav {
      a {
        &:not(:first-child) {
          display: none;
        }
        &.navBtn {
          float: right;
          display: block;
        }
      }
      &.responsive {
        position: relative;
        a {
          float: none;
          display: block;
          text-align: left;
        }
        .navBtn {
          position: absolute;
          right: 0;
          top: 0;
        }
      }
    }
  }
  #cover-section,
  #music-section,
  #vedio-section,
  #giftCards-section {
    min-height: 70vh;
  }
  #music-section {
    .grid {
      grid-template-columns: 1fr;
      .left,
      .middel {
        grid-row: auto;
        grid-column: auto;
      }
      .middel {
        ul {
          .level {
            max-width: 55%;
          }
        }
      }
      .right,
      .bottom {
        grid-row: auto;
        grid-column: 1/4;
      }
    }
  }
}
//-- SMARTPHONES --\\
@include mediaSm {
  h1 {
    font-size: $lg-font;
  }
  h2 {
    font-size: $sm-font;
  }
  figure {
    width: 100%;
  }
  .hide {
    display: none;
  }
  .text {
    font-size: $xs-font;
  }
  // main-content
  #cover-section,
  #music-section,
  #vedio-section,
  #giftCards-section {
    min-height: 50vh;
  }

  #entertainement-section {
    display: none;
  }
  #giftCards-section {
    .grid {
      grid-template-columns: 1fr;
    }
  }
  #music-section {
    .grid {
      grid-template-columns: 1fr;
      .left,
      .middel,
      .right,
      .bottom {
        // grid-column: 1/4;
        grid-column: 1;
        grid-row: auto;
      }
      .middel {
        ul {
          .level {
            max-width: 45%;
          }
        }
      }
    }
  }
  // main-footer
  #main-footer {
    .grid {
      text-align: center;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 0.3rem;
    }
  }
}
