/*-----------------------------------------------------------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap");
/*-----------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:not(i.icon) {
  transition: all 0.5s ease-out;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #a2a2a2;
  font-family: "Arial Narrow", Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  margin-bottom: 1rem;
  text-align: center;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1rem;
}

p {
  margin: 0.5rem 0;
  text-align: center;
  font-size: 1.5rem;
  letter-spacing: 2px;
}

figure {
  width: 100%;
  margin: auto;
}

img {
  width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

i.icon {
  margin-right: 1rem;
}

span {
  color: #f6bc01;
}

.btn,
button {
  background: none;
  border: none;
}

.btn-container {
  text-align: center;
  margin: 2rem auto;
}

.btn {
  padding: 0.75rem 3rem;
  border-radius: 3px;
  font-weight: 700;
}
.btn.btn-primary {
  background: #232323;
  color: #fff;
}
.btn.btn-primary:hover {
  background: #f6bc01;
  color: #000;
}
.btn.btn-secondary {
  background: #c9c9c9;
  color: #000;
}
.btn.btn-secondary:hover {
  transition: all 0.5s ease-out;
  background: #e80909;
  color: #000;
}

header#header #myTopnav {
  top: 0;
  right: 0;
  z-index: 2;
  width: 100%;
  display: flex;
  position: fixed;
  overflow: hidden;
  flex-direction: row;
  justify-content: space-between;
  background-color: #212121;
  border-bottom: 2px solid #e80909;
}
header#header #myTopnav .menu {
  margin-right: 1rem;
}
header#header #myTopnav a {
  text-transform: capitalize;
  letter-spacing: 1px;
  padding: 1rem 1.5rem;
  display: inline-block;
  color: #fff;
}
header#header #myTopnav a.active {
  background-color: rgba(162, 162, 162, 0.2);
  color: #f6bc01;
}
header#header #myTopnav a:hover {
  transition: all 0.5s ease-out;
  background-color: rgba(162, 162, 162, 0.2);
  color: #e80909;
}
header#header #myTopnav .navBtn {
  display: none;
}
header#header .header {
  background: url("https://images.unsplash.com/photo-1528032947483-4e1df543253a?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1050&q=80") no-repeat center/cover;
  height: 100vh;
  filter: blur(3px);
  -webkit-filter: blur(3px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
header#header .jumbutron {
  top: 50%;
  left: 50%;
  z-index: 1;
  width: 80%;
  padding: 20px;
  color: white;
  font-weight: bold;
  text-align: center;
  position: absolute;
  border-radius: 10px;
  border: 3px solid #f6bc01;
  transform: translate(-50%, -50%);
  background: rgba(246, 188, 1, 0.1);
}

section {
  max-width: 1640px;
  padding: 4rem 0;
  margin: 0 auto;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.grid {
  display: grid;
  grid-gap: 1rem;
  grid-auto-rows: minmax(1fr, auto);
}

.grid-2 {
  grid-template-columns: 1fr 1fr;
}

.grid-3 {
  grid-template-columns: repeat(3, 1fr);
}

.grid-4 {
  grid-template-columns: repeat(4, 1fr);
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-rows {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.text {
  margin: 2rem 0;
}

.dark-bg {
  background: #212121;
  color: #fff;
}
.dark-bg a {
  color: #fff;
}

.light-bg {
  background: #a2a2a2;
  color: #000;
}
.light-bg a {
  color: #000;
}

#music h2 {
  margin-bottom: 2rem;
}
#music .grid {
  margin: 1rem 0;
}
#music .music-box {
  position: relative;
  height: fit-content;
}
#music .music-box img,
#music .music-box .caption {
  width: 275px;
  height: 275px;
}
#music .music-box .caption {
  top: 0;
  right: 0;
  bottom: 0;
  color: #414141;
  position: absolute;
  background: #ffffff8f;
}
#music .music-box .caption h3 {
  text-transform: uppercase;
  font-family: "Arial Narrow", Arial, sans-serif;
  margin-bottom: 0;
  font-weight: 600;
}
#music .music-box .caption span {
  font-weight: 500;
  font-size: 1.5rem;
  color: #e80909;
}
#music .music-card {
  width: 275px;
  padding: 0.5rem;
  background: #ffffffef;
  text-transform: capitalize;
  justify-content: space-between;
  margin-bottom: 2rem;
}
#music .music-card span {
  font-weight: 600;
}
#music .music-card span,
#music .music-card i.icon {
  color: #414141;
}

#vedio figure {
  width: 100%;
  margin: 2rem auto;
}
#vedio figure .video {
  width: 100%;
  height: auto;
  border: 1px solid #f6bc01;
  border-radius: 15px;
}
#vedio figure .video:focus {
  outline: none;
}

#entertainment {
  background: url("https://images.unsplash.com/photo-1522249210728-7cd95094022a?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80") no-repeat center/cover;
}
#entertainment .highlight {
  color: #d8d8d8;
}
#entertainment .highlight .text {
  padding: 1rem;
  text-align: justify;
  background: rgba(65, 65, 65, 0.4);
}

#gift-card,
#about-us {
  padding: 0;
  grid-gap: 0;
}
#gift-card .box1,
#about-us .box1 {
  height: 100%;
}
#gift-card .box1 img,
#about-us .box1 img {
  height: 100%;
}
#gift-card .box2,
#about-us .box2 {
  padding: 2rem;
}
#gift-card .box2 h3,
#gift-card .box2 a,
#about-us .box2 h3,
#about-us .box2 a {
  text-transform: uppercase;
  color: #000;
}
#gift-card .box2 .text,
#about-us .box2 .text {
  text-align: justify;
  color: #000;
}
#gift-card .box2 hr,
#about-us .box2 hr {
  border-color: #000;
  margin-bottom: 1rem;
}
#gift-card .box2 a:hover,
#about-us .box2 a:hover {
  color: #55cbde;
}

#gift-card .box2 {
  background: rgba(232, 9, 9, 0.5);
}

#about-us .box2 {
  background: rgba(246, 188, 1, 0.7);
}

#footer #contact-us .container {
  width: 80%;
  padding-top: 4rem;
  padding-bottom: 4rem;
}
#footer #contact-us h2 {
  color: #b1b1b1;
  margin-bottom: 2rem;
}
#footer #contact-us input,
#footer #contact-us textarea {
  width: 100%;
  border: none;
  color: #d8d8d8;
  padding: 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
  background: none;
  border-top: 1px solid #f6bc01;
  border-bottom: 2px solid #e80909;
}
#footer #contact-us input:focus,
#footer #contact-us textarea:focus {
  outline: none;
  background: rgba(65, 65, 65, 0.4);
}
#footer #contact-us button {
  color: #000;
  margin-top: 1rem;
  font-weight: bold;
  letter-spacing: 2px;
  border-radius: 15px;
  text-transform: uppercase;
  background: rgba(246, 188, 1, 0.8);
}
#footer #contact-us button:hover {
  cursor: pointer;
  background: rgba(232, 9, 9, 0.5);
}
#footer section {
  padding: 0;
}
#footer .grid-4 {
  margin: 4rem 0;
}
#footer .box,
#footer p {
  padding: 1rem;
}
#footer .box {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
#footer .box li a {
  color: #b1b1b1;
  line-height: 1.5;
}
#footer .box li a:hover {
  text-decoration: underline;
  padding-left: 0.5rem;
}
#footer .box:nth-child(1),
#footer .box:nth-child(2) {
  border-bottom: 3px solid #e80909;
}
#footer .box:nth-child(1):hover h4,
#footer .box:nth-child(2):hover h4 {
  color: #e80909;
}
#footer .box:nth-child(1) li a:hover,
#footer .box:nth-child(2) li a:hover {
  color: #f6bc01;
}
#footer .box:nth-child(3),
#footer .box:nth-child(4) {
  border-bottom: 3px solid #f6bc01;
}
#footer .box:nth-child(3):hover h4,
#footer .box:nth-child(4):hover h4 {
  color: #f6bc01;
}
#footer .box:nth-child(3) li a:hover,
#footer .box:nth-child(4) li a:hover {
  color: #e80909;
}
#footer p {
  margin: 0;
  color: #b1b1b1;
}
#footer p span {
  color: #55cbde;
}

@media screen and (max-width: 768px) {
  header#header #myTopnav {
    border: none;
    animation-name: fade;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
  }
  @keyframes fade {
    0% {
      background: none;
      opacity: 0.1;
    }
    100% {
      background-color: rgba(33, 33, 33, 0.7);
      opacity: 1;
    }
  }
  header#header #myTopnav .logo {
    text-align: center;
  }
  header#header #myTopnav .logo a.active {
    width: 100%;
    background: none;
  }
  header#header #myTopnav .menu {
    margin: 0;
  }
  header#header #myTopnav .menu a {
    display: none;
  }
  header#header #myTopnav .menu a.navBtn {
    float: right;
    display: block;
  }
  header#header #myTopnav.responsive {
    flex-direction: column;
  }
  header#header #myTopnav.responsive .menu {
    animation-name: slide;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    transform: translate(0, -100%);
    border-bottom: 2px solid #e80909;
  }
  @keyframes slide {
    0% {
      transform: translate(0, -100%);
      opacity: 0.1;
    }
    100% {
      transform: translate(0, 0);
      opacity: 1;
    }
  }
  header#header #myTopnav.responsive .menu a {
    display: block;
    text-align: left;
  }
  header#header #myTopnav.responsive .menu .navBtn {
    position: absolute;
    right: 0;
    top: 0;
  }
  header#header .header h1 {
    font-size: 1.5rem;
  }
  header#header .header h2 {
    font-size: 1rem;
  }

  #music .music-box img,
#music .music-box .caption {
    width: 175px;
    height: 175px;
  }
  #music .music-links .music-card {
    width: 175px;
  }
}
@media screen and (max-width: 500px) {
  h1 {
    font-size: 2.1rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  figure {
    width: 100%;
  }

  .hide {
    display: none;
  }

  .text {
    font-size: 1rem;
  }

  .grid-2,
.grid-3 {
    grid-template-columns: 1fr;
  }

  .grid-4 {
    grid-template-columns: 1fr 1fr;
  }

  #music .grid-3 {
    grid-template-columns: 1fr 1fr;
  }
  #music .music-box img,
#music .music-box .caption {
    width: 120px;
    height: 120px;
  }
  #music .music-box .caption h3 {
    font-size: 1rem;
    text-transform: capitalize;
  }
  #music .music-box .caption span {
    display: none;
  }
  #music .music-links {
    grid-template-columns: repeat(3, 1fr);
  }
  #music .music-links .music-card {
    width: auto;
  }
  #music .music-links .music-card span {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
