/*-----------------------------------------------------------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap");
/*-----------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #a2a2a2;
  font-family: "Arial Narrow", Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  margin-bottom: 1rem;
  text-align: center;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1rem;
}

p {
  margin: 0.5rem 0;
  text-align: center;
  font-size: 1.5rem;
  letter-spacing: 2px;
}

figure {
  width: 100%;
  margin: auto;
}

img {
  width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

i.icon {
  margin-right: 1rem;
}

span {
  color: #f6bc01;
}

.btn,
button {
  background: none;
  border: none;
}

.btn-container {
  text-align: center;
  margin: 2rem auto;
}

.btn {
  padding: 0.75rem 3rem;
  border-radius: 3px;
  font-weight: 700;
}
.btn.btn-primary {
  background: #232323;
  color: #fff;
}
.btn.btn-primary:hover {
  transition: all 0.5s ease-out;
  background: #f6bc01;
  color: #000;
}
.btn.btn-secondary {
  background: #c9c9c9;
  color: #000;
}
.btn.btn-secondary:hover {
  transition: all 0.5s ease-out;
  background: #e80909;
  color: #000;
}

header#header #myTopnav {
  top: 0;
  right: 0;
  z-index: 2;
  width: 100%;
  display: flex;
  position: fixed;
  overflow: hidden;
  flex-direction: row;
  justify-content: space-between;
  background-color: #212121;
  border-bottom: 2px solid #e80909;
}
header#header #myTopnav .menu {
  margin-right: 1rem;
}
header#header #myTopnav a {
  display: inline-block;
  color: #fff;
  letter-spacing: 1px;
  padding: 1rem 1.5rem;
}
header#header #myTopnav a.active {
  background-color: rgba(162, 162, 162, 0.2);
  color: #f6bc01;
}
header#header #myTopnav a:hover {
  transition: all 0.5s ease-out;
  background-color: rgba(162, 162, 162, 0.2);
  color: #e80909;
}
header#header #myTopnav .navBtn {
  display: none;
}
header#header .header {
  background: url("https://images.unsplash.com/photo-1528032947483-4e1df543253a?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1050&q=80") no-repeat center/cover;
  height: 100vh;
  filter: blur(3px);
  -webkit-filter: blur(3px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
header#header .jumbutron {
  top: 50%;
  left: 50%;
  z-index: 1;
  width: 80%;
  padding: 20px;
  color: white;
  font-weight: bold;
  text-align: center;
  position: absolute;
  border-radius: 10px;
  border: 3px solid #f6bc01;
  transform: translate(-50%, -50%);
  background: rgba(246, 188, 1, 0.1);
}

section {
  max-width: 1080px;
  padding: 4rem 0;
  margin: 0 auto;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.grid {
  display: grid;
  grid-gap: 1rem;
  grid-auto-rows: minmax(1fr, auto);
}

.grid-3 {
  grid-template-columns: repeat(3, 1fr);
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-rows {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.text {
  margin: 2rem 0;
}

.dark-bg {
  background: #212121;
  color: #fff;
}
.dark-bg a {
  color: #fff;
}

.light-bg {
  background: #a2a2a2;
  color: #000;
}
.light-bg a {
  color: #000;
}

#music,
#vedio {
  min-height: 100vh;
}

#music h2 {
  margin-bottom: 2rem;
}
#music .grid {
  margin: 1rem 0;
}
#music .music-box {
  position: relative;
  height: fit-content;
}
#music .music-box img,
#music .music-box .caption {
  width: 275px;
  height: 275px;
}
#music .music-box .caption {
  top: 0;
  right: 0;
  bottom: 0;
  color: #414141;
  position: absolute;
  background: #ffffff8f;
}
#music .music-box .caption h3 {
  text-transform: uppercase;
  font-family: "Arial Narrow", Arial, sans-serif;
  margin-bottom: 0;
  font-weight: 600;
}
#music .music-box .caption span {
  font-weight: 500;
  font-size: 1.5rem;
  color: #e80909;
}
#music .music-card {
  width: 275px;
  padding: 0.5rem;
  background: #ffffffef;
  text-transform: capitalize;
  justify-content: space-between;
  margin-bottom: 2rem;
}
#music .music-card span {
  font-weight: 600;
}
#music .music-card span,
#music .music-card i.icon {
  color: #414141;
}

#vedio figure {
  width: 100%;
  margin: 2rem auto;
}
#vedio figure .video {
  width: 100%;
  height: auto;
  border: 1px solid #f6bc01;
  border-radius: 15px;
}
#vedio figure .video:focus {
  outline: none;
}

#entertainment {
  background: url("https://images.unsplash.com/photo-1522249210728-7cd95094022a?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80") no-repeat center/cover;
  color: #55cbde;
}

#giftCards .grid {
  grid-template-columns: 1fr 1fr;
}
#giftCards .grid .box1 {
  display: contents;
}
#giftCards .grid .box2 a {
  color: #55cbde;
}

#main-footer p {
  margin: 0;
}
#main-footer .grid {
  grid-template-columns: repeat(4, 1fr);
}
#main-footer .grid .box {
  border-bottom: 2px solid #e80909;
}
#main-footer .grid .box li a {
  color: #fff;
}
#main-footer .grid .box li a:hover {
  text-decoration: underline;
  color: #e80909;
}
#main-footer .grid .box:hover h4 i {
  color: #e80909;
}

@media screen and (max-width: 768px) {
  header#header #myTopnav .logo {
    text-align: center;
  }
  header#header #myTopnav .logo a.active {
    width: 100%;
    background: none;
  }
  header#header #myTopnav .menu {
    margin: 0;
  }
  header#header #myTopnav .menu a {
    display: none;
  }
  header#header #myTopnav .menu a.navBtn {
    float: right;
    display: block;
  }
  header#header #myTopnav.responsive {
    flex-direction: column;
  }
  header#header #myTopnav.responsive .menu a {
    display: block;
    text-align: left;
  }
  header#header #myTopnav.responsive .menu .navBtn {
    position: absolute;
    right: 0;
    top: 0;
  }
  header#header .header h1 {
    font-size: 1.5rem;
  }
  header#header .header h2 {
    font-size: 1rem;
  }
}
@media screen and (max-width: 500px) {
  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  figure {
    width: 100%;
  }

  .hide {
    display: none;
  }

  .text {
    font-size: 1rem;
  }
}

/*# sourceMappingURL=style.css.map */
